
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng k&#253; hội vi&#234;n</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>
<body>
<h1 style="text-align: center">Đăng ký tài khoản</h1>
<h2 style="text-align: center" id = "errorRegister"></h2>
<div class="container mt-4">
    <form th:action="@{/user/register}" method="POST" class="form">
        <div class="row">
            <div class="col-md-6">
                <h3>Tài khoản</h3>
                <div class="mb-3">
                    <label for="username" class="form-label">Tên đăng nhập<span
                            style="color: red">*</span></label>
                    <input type="text" name="username" id="username" class="form-control"
                           required="required">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu<span
                            style="color: red">*</span></label> <input type="password" id="password" name="password"
                                                                       class="form-control" required="required"
                                                                       onkeyup="kiemTraMatKhau()" value="">
                </div>
                <div class="mb-3">
                    <label for="againPassword" class="form-label">Nhập lại
                        mật khẩu<span style="color: red">*</span><span style="color: red"
                                                                       id="error"></span>
                    </label> <input type="password" id = "againPassword" name="againPassword" class="form-control"
                                    required="required"  onkeyup="kiemTraMatKhau()">
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Lời mời (username) (Hợp lệ có 40$) </label>
                    <input type="text" name="inviteCode" id="code" class="form-control"
                           >
                </div>
                <br><br>
                <hr>
                <div class="mb-3">
                    <input type="submit" name="Xác nhận"
                           style="background-color: blue;"
                           class="form-control" id="submit">
                    <a th:href="@{/user/login}" style="text-align: center">Tôi đã có tài khoản</a>
                </div>

            </div>
            <!-- Địa chỉ -->
            <div class="col-md-6">
                <h3>Thông tin khách hàng</h3>
                <div class="mb-3">
                    <label for="email" class="form-label">Email<span
                            style="color: red">*</span></label>
                    <input type="email" id = "email" name="email" class="form-control"
                           required="required">
                </div>
                <div class="mb-3">
                    <label for="fullName" class="form-label">Họ và tên<span
                            style="color: red">*</span></label>
                    <input type="text" name="fullName" id = "fullName" class="form-control" required="required">
                </div>
                <div class="mb-3">
                    <label for="tel" class="form-label">Số điện thoại<span
                            style="color: red">*</span></label>
                    <input type="text" name="tel" class="form-control"
                           id="tel" required="required">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Giới tính<span
                            style="color: red">*</span></label>
                    <select class="form-control" required="required" data-val="true" data-val-number="The field Gender must be a number." id="gender" name="gender">
                        <option value="nam">Nam</option>
                        <option value="nữ">Nữ</option>
                        <option value="other">Khác</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Ngày sinh<span
                            style="color: red">*</span></label> <input
                        type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required="required">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Quốc gia<span
                            style="color: red">*</span></label>
                    <select id="country" name="country" class="form-control" required="required">
                        <option value="AD">Andorra</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AI">Anguilla</option>
                        <option value="AL">Albania</option>
                        <option value="AM">Armenia</option>
                        <option value="AN">Netherlands Antilles</option>
                        <option value="AO">Angola</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AR">Argentina</option>
                        <option value="AS">American Samoa</option>
                        <option value="AT">Austria</option>
                        <option value="AUS">Australia</option>
                        <option value="AW">Aruba</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BA">Bosnia and Herzegowina</option>
                        <option value="BAN">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BEL">Belgium</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BH">Bahrain</option>
                        <option value="BI">Burundi</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BO">Bolivia</option>
                        <option value="BRA">Brazil</option>
                        <option value="BRN">Brunei</option>
                        <option value="BS">Bahamas</option>
                        <option value="BT">Bhutan</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BW">Botswana</option>
                        <option value="BY">Belarus</option>
                        <option value="BZ">Belize</option>
                        <option value="CA">Canada</option>
                        <option value="CAM">Cambodia</option>
                        <option value="CC">Cocos Islands</option>
                        <option value="CD">Congo, The democratic republic of the</option>
                        <option value="CF">Central Africa Republic</option>
                        <option value="CG">Congo</option>
                        <option value="CH">Switzerland</option>
                        <option value="CHN">China</option>
                        <option value="CI">Code DIvoire</option>
                        <option value="CK">Cook Island</option>
                        <option value="CL">Chile</option>
                        <option value="CM">Cameroon</option>
                        <option value="CO">Colombia</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CU">Cuba</option>
                        <option value="CV">Cape Verde</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DK">Denmark</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="DZ">Algeria</option>
                        <option value="EC">Ecuador</option>
                        <option value="EE">Estonia</option>
                        <option value="EG">Egypt</option>
                        <option value="EH">Western Sahara</option>
                        <option value="EN">United Kingdom</option>
                        <option value="ER">Eritrea</option>
                        <option value="ES">Spain</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FI">Finland</option>
                        <option value="FJ">Fiji</option>
                        <option value="FK">Falkland Islands (Malvinas)</option>
                        <option value="FM">Micronesia Federated States Of</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FR">France</option>
                        <option value="FX">France Metropolitan</option>
                        <option value="GA">Gabon</option>
                        <option value="GB">United Kingdom</option>
                        <option value="GD">Grenada</option>
                        <option value="GE">Georgia</option>
                        <option value="GER">Germany</option>
                        <option value="GF">French Guiana</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GL">Greenland</option>
                        <option value="GM">Gambia</option>
                        <option value="GN">Guinea</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="GR">Greece</option>
                        <option value="GS">South Georgia and South S.S</option>
                        <option value="GT">Guatemala</option>
                        <option value="GU">Guam</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HKG">Hong Kong</option>
                        <option value="HL">Netherlands </option>
                        <option value="HM">Heard Island and Mcdonald Islands</option>
                        <option value="HN">Honduras</option>
                        <option value="HR">Croatia</option>
                        <option value="HT">Haiti</option>
                        <option value="HU">Hungary</option>
                        <option value="IE">Ireland</option>
                        <option value="IL">Israel</option>
                        <option value="IND">Indian</option>
                        <option value="INR">Iran</option>
                        <option value="INS">Indonesia</option>
                        <option value="IO">Bristish India Ocean Territory</option>
                        <option value="IQ">IRAQ</option>
                        <option value="IR">Iran</option>
                        <option value="IRA">Irac</option>
                        <option value="IS">Iceland</option>
                        <option value="ITA">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JO">Jordan</option>
                        <option value="JOR">Jordan</option>
                        <option value="JP">Japan</option>
                        <option value="KE">Kenya</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="KI">Kiribati</option>
                        <option value="KM">Comoros</option>
                        <option value="KN">Saint Kitts And Nevis</option>
                        <option value="KOR">South Korea</option>
                        <option value="KP">North Korea</option>
                        <option value="KR">Korea Republic of</option>
                        <option value="KW">Kuwait</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="LAO">Lao</option>
                        <option value="LB">Lebanon</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="LR">Liberia</option>
                        <option value="LS">Lesotho</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="LV">Latvia</option>
                        <option value="LY">Libyan Arab Jamahiriya</option>
                        <option value="MA">Morroco</option>
                        <option value="MAL">Malaysia</option>
                        <option value="MC">Monaco</option>
                        <option value="MD">Moldova Republic Of</option>
                        <option value="ME">Montenegro</option>
                        <option value="MG">Madagascar</option>
                        <option value="MH">Marshall Island</option>
                        <option value="MK">Macedonia</option>
                        <option value="ML">Mali</option>
                        <option value="MM">Myanmar</option>
                        <option value="MN">Mongolia</option>
                        <option value="MO">Macao</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MS">Montserrat</option>
                        <option value="MT">Malta</option>
                        <option value="MU">Mauritius</option>
                        <option value="MV">Maldives</option>
                        <option value="MW">Malawi</option>
                        <option value="MX">Mehico</option>
                        <option value="MY">Mala</option>
                        <option value="MZ">Mozambique</option>
                        <option value="NA">Namibia</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NE">Niger</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="NG">Nigeria</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NO">Nauy</option>
                        <option value="NON">--- Kh&#225;c ---</option>
                        <option value="NP">Nepal</option>
                        <option value="NR">Nauru</option>
                        <option value="NU">Niue</option>
                        <option value="NZ">New Zealand</option>
                        <option value="OM">Oman</option>
                        <option value="PA">Panama</option>
                        <option value="PE">Peru</option>
                        <option value="PF">French Polynesia</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PH">Philippines</option>
                        <option value="PK">Pakistan</option>
                        <option value="PL">Poland</option>
                        <option value="PM">St. Pierre And Miquelon</option>
                        <option value="PT">Portugal</option>
                        <option value="PW">Palau</option>
                        <option value="PY">Paraguay</option>
                        <option value="QA">Qatar</option>
                        <option value="RS">Serbia</option>
                        <option value="RU">Russia</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SB">Solomon Island</option>
                        <option value="SC">Seychelles</option>
                        <option value="SE">Sweden</option>
                        <option value="SH">St. Helena</option>
                        <option value="SI">Slovenia</option>
                        <option value="SIN">Singapore</option>
                        <option value="SJ">Svalbard and Jan Mayen Islands</option>
                        <option value="SK">Slovakia</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SN">Senegal</option>
                        <option value="SO">Somalia</option>
                        <option value="SR">Suriname</option>
                        <option value="SS">South Sudan</option>
                        <option value="ST">Sao Tome And Principe</option>
                        <option value="SUD">Sudan</option>
                        <option value="SV">El Salvador</option>
                        <option value="SY">Syrian Arab Republic</option>
                        <option value="SZ">Swaziland</option>
                        <option value="TC">Turks And Caicos Island</option>
                        <option value="TD">Chad</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="TG">Togo</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TK">Tokelau</option>
                        <option value="TL">Thailand</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TN">Tunisia</option>
                        <option value="TO">Tonga</option>
                        <option value="TP">East Timor</option>
                        <option value="TQ">Trung Quốc</option>
                        <option value="TR">Turkey</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TV">Tuvalu</option>
                        <option value="TW">Taiwan</option>
                        <option value="TZ">Tanzania</option>
                        <option value="UA">Ukraine</option>
                        <option value="UEA">United Arab Emirates</option>
                        <option value="UG">Uganda</option>
                        <option value="UM">U.S Minor Island</option>
                        <option value="USA">United States of America</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VA">Vatican City State</option>
                        <option value="VC">Saint Vincent And The Grenadines</option>
                        <option value="VE">Venezuala</option>
                        <option value="VG">Virgin Island (British)</option>
                        <option value="VI">Virgin Island (U.S)</option>
                        <option selected="selected" value="VN">Viet Nam</option>
                        <option value="VU">Vanuatu</option>
                        <option value="WF">Wallis And Futuna Island</option>
                        <option value="WS">Samoa</option>
                        <option value="YE">Yemen</option>
                        <option value="YT">Mayotte</option>
                        <option value="ZA">South Africa</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function kiemTraMatKhau() {
        mk = document.getElementById("password").value;
        mk1 = document.getElementById("againPassword").value;
        if (mk != mk1) {
            document.getElementById("error").innerHTML = "Mật khẩu không khớp!";
            document.getElementById("submit").style.display = "none";
            return false;
        } else {
            document.getElementById("submit").style.display = "block";
            document.getElementById("error").innerHTML = "";
            return true;
        }
    }
</script>
<!-- custom js file link  -->
<script src="/script.js">
</script>
</body>
</html>
